*.out
build
_builds
test/build
/libs
output
.ccls-cache
Hunter
.ccls
cmake-build-debug
Debug
compile_commands.json
.vscode
.vin
scripts/VIN*
clang-format:Zone.Identifier
libs
test/robot/resources/assets
test/robot/testsuites/logs
test/terraform/terraform.tfstate*
__pycache__/
*.pyc
.dir-locals.el
